server{
	listen       80
	server_name  hello.com
	Client_body_size  3M
	error_pages  fells;
	Worker_connections 30



	location  /upload {
	root html;
    allowed_method Get
	autoinex off
    }

	location  / 50x.html {
	root html;
	allowed_method Get
	autoinex off
	}

    location /favicon.ico {
		root  /serve/html
		allowed_method  GET POST
		autoindex off
		index favicon.ico
	}
}
